default: &default
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  adapter: mysql2
  username: <%= ENV.fetch('BASIC_DB_USER', 'root') %>
  password: <%= ENV.fetch('BASIC_DB_PASSWORD', '') %>
  host: localhost
  database: furima-42059_development
  socket: /var/run/mysqld/mysqld.sock

test:
  <<: *default
  adapter: mysql2
  username: <%= ENV.fetch('BASIC_DB_USER', 'root') %>
  password: <%= ENV.fetch('BASIC_DB_PASSWORD', '') %>
  host: localhost
  database: furima-42059_test
  socket: /var/run/mysqld/mysqld.sock

production:
  <<: *default
  adapter: postgresql
  url: <%= ENV['DATABASE_URL'] %>
